extends layout/default

include partial/mixinList

block title
	title Index
	
block content
	body
		.wrapper
			+header
			main
				.padding-y-4#navigation(v-cloak)
					div(v-if="dataLoaded")
						.padding-x-4
							input(
								:value='input'
								@input='updateInput'
								ref='filter'
								type='text'
								placeholder='Filter with keywords separated by space like: grid row gap, spacing margin top, line height, etc.'
							).cocktail-input
							.text-tight.font-xs
								small(v-if='noResults') No matches
								small(v-else) {{ numberOfClasses }} classes matched
						.padding-top-4
							.grid.grid-gap-3.padding-x-4.padding-y-1.bg-lightgray
								.grid-column-3 Class
								.grid-column-4 CSS
								.grid-column-2 Mobile First
								.grid-column-3 Keywords
							.grid.grid-gap-3.padding-x-4.padding-y-1(
								v-for='(cocktailClass, idx) in filteredClasses' 
								:key='cocktailClass.className'
								:class='{ "bg-lightgray": even(idx) }'
							)
								.grid-column-3.font-mono {{ cocktailClass.className }}
								.grid-column-4.font-mono
									div(v-for="(style, idx) in cocktailClass.css" :key="idx") {{ style }}
								.grid-column-2
									span(v-if='cocktailClass.mobileFirstSupport') Yes
									span(v-else) No
								.grid-column-3
									.flex.flex-wrap.items-center
										button(
											@click="setKeyword(keyword)"
											v-for="(keyword, idx) in cocktailClass.keywords"
											:key="idx"
											type="button"
										).cocktail-keyword.margin-right-2 {{ keyword }}
							.padding-x-4.padding-y-3(v-if='noResults') Nothing to do here :(
					.padding-x-4(v-else) Loading...
			+footer
		+script
