extends layout/default

include partial/mixinList

block title
	title Cocktail CSS · Docs
	
block content
	body
		.wrapper
			+header('index.html')
			main
				#cocktail(v-cloak)
					.padding-bottom-4(v-if="dataLoaded")
						.cocktail-header.bg-white.z-index-1
							.padding-x-3.padding-x-4--md.padding-y-4.relative
								.relative
									input(
										:value='input'
										@input='updateInput'
										ref='filter'
										type='text'
										placeholder='Filter with keywords separated by space like: grid row gap, spacing margin top, line height, etc.'
									).cocktail-input
								.flex.font-xs
									span(v-if='noResults') No matches
									span(v-else) {{ numberOfFilteredClasses }} classes matched
									span(v-if='inputIsNotEmpty')
										span.margin-x-2 ·
										button(type='button' @click='reset').cocktail-trigger Reset
							.hidden.grid--md.grid-column-gap-3.padding-x-4.padding-y-2.bg-primary-lite.color-primary-dark
								.grid-column-3 Class
								.grid-column-4 CSS
								.flex.items-start.grid-column-2
									span Mobile First
									small.margin-left-1.cursor-help(title='Use suffixes to enable class: --sm, --md, --lg, --xl, --xxl') 🛈
								.grid-column-3 Keywords
						.grid--md.grid-column-gap-3.padding-x-3.padding-x-4--md.padding-y-3.padding-y-2--md(
							v-for='(cocktailClass, idx) in filteredClasses' 
							:key='cocktailClass.className'
							:class='{ "bg-lightgray": even(idx) }'
						)
							.grid-column-3
								.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
									.hidden--md.grid-column-4.color-primary-dark Class
									.grid-column-8.font-mono {{ cocktailClass.className }}
							.grid-column-4
								.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
									.hidden--md.grid-column-4.color-primary-dark CSS
									.grid-column-8.font-mono
										div(v-for="(style, idx) in cocktailClass.css" :key="idx") {{ style }}
							.grid-column-2
								.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
									.hidden--md.grid-column-4.color-primary-dark Mobile First
									.grid-column-8
										span(v-if='cocktailClass.mobileFirstSupport') Yes
										span(v-else) No
							.grid-column-3
								.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
									.hidden--md.grid-column-4.color-primary-dark Keywords
									.grid-column-8
										.flex.flex-wrap.items-center
											button(
												@click="setKeyword(keyword)"
												v-for="(keyword, idx) in cocktailClass.keywords"
												:key="idx"
												type="button"
											).cocktail-trigger.margin-right-2 {{ keyword }}
						.padding-x-3.padding-x-4--md.padding-y-3.font-xs(v-if='noResults') Nothing's found, but take the beer 🍺 <button class="cocktail-trigger" @click='reset'>Drink</button>
					.padding-bottom-4(v-else)
						.cocktail-header.bg-white.z-index-1
							.padding-x-3.padding-x-4--md.padding-y-4.relative.animate-pulse
								.cocktail-placeholder Input placeholder
								.flex.font-xs
									.cocktail-placeholder.margin-top-1 000 classes matched
							.hidden.grid--md.grid-column-gap-3.padding-x-4.padding-y-2.bg-primary-lite.color-primary-dark.animate-pulse.animation-delay-100
								.flex.grid-column-3
									.cocktail-placeholder Class
								.flex.grid-column-4
									.cocktail-placeholder CSS
								.flex.items-start.grid-column-2
									.cocktail-placeholder Mobile First
								.flex.grid-column-3
									.cocktail-placeholder Keywords
						- for(let i = 0; i < 20; i++)
							-
								const bgClass = i % 2 ? 'bg-lightgray' : ''
								const delay = _.sample([100, 200, 300, 400])
								const animationDelayClass = `animation-delay-${delay}`
							div(class=`grid--md grid-column-gap-3 padding-x-3 padding-x-4--md padding-y-3 padding-y-2--md ${bgClass} animate-pulse ${animationDelayClass}`)
								.grid-column-3
									.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
										.flex.items-start.hidden--md.grid-column-4.color-primary-dark
											.cocktail-placeholder Class
										.flex.flex-wrap.items-start.grid-column-8.font-mono
											-
												const randomClassesNumber = _.random(1, 3)
											- for(let j = 0; j < randomClassesNumber; j++)
												.cocktail-placeholder.margin-right-2= _.sample(data.classes)
								.grid-column-4
									.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
										.flex.items-start.hidden--md.grid-column-4.color-primary-dark
											.cocktail-placeholder CSS
										.flex.flex-wrap.items-start.grid-column-8.font-mono
											-
												const randomStylesNumber = _.random(2, 3)
											- for(let j = 0; j < randomStylesNumber; j++)
												.cocktail-placeholder.margin-right-2= _.sample(data.styles)
								.grid-column-2
									.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
										.flex.items-start.hidden--md.grid-column-4.color-primary-dark
											.cocktail-placeholder Mobile First
										.flex.grid-column-8
											.cocktail-placeholder Yes
								.grid-column-3
									.grid.grid-column-gap-2.block--md.padding-y-1.padding-y-0--md
										.flex.items-start.hidden--md.grid-column-4.color-primary-dark
											.cocktail-placeholder Keywords
										.grid-column-8
											.flex.flex-wrap.items-start.flex-wrap.items-center
												- for(let j = 0; j < 3; j++)
													.cocktail-placeholder.margin-right-2 keyword
			+footer
		+script
